
[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ideas.server.manager
Exec=ideas.server.manager
Terminal=false
Name[en_US]=Ideas.Scada.Server.Manager
